# Getting To Know PySpark

In [ ]:
# install spark and all according to these instructions 

# https://towardsdatascience.com/how-to-get-started-with-pyspark-1adc142456ec

## What is Spark?

Spark is platform for cluster computing which allows the split of calculations across multiple nodes. This simplifies dealing with Big Data since each node only works with a subset of the data. It can greatly speed up analysis, provided the communication overhead does not exceed the computation speed-up (i.e. only makes sense with large enough data).

## Using Spark in Python

To use Spark, we need to connect to a cluster. Spark uses a *master-worker architecture*: there's a master node which spreads calculation across worker nodes which then return the results back to the master.

A cluster can bee run locally (where a cluster is simulated - usually for testing) or in a remote machine.

This starts by creating an instance of the `SparkContext` class.

## Using DataFrames

Spark's core data structure is the Resilient Distributed Dataframe (RDD) - it is how Spark distributes computation across nodes. Since this is a low-level object, the DataFrame abstraction is what is often used, in practice. 

To start working with a Spark DataFrame weE:
1. Create a `SparkContext`
2. Create a `SparkSession` from our `SparkContext`

In [ ]:
# check https://www.freecodecamp.org/news/installing-scala-and-apache-spark-on-mac-os-837ae57d283f/
# for how to install apache spark

# !pip install pyspark

In [1]:
import pyspark

sc = pyspark.SparkContext()

In [2]:
# Verify SparkContext
print(sc)

# Print Spark version
print(sc.version)

<SparkContext master=local[*] appName=pyspark-shell>
2.4.4

In [3]:
# Print the tables in the catalog
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [4]:
# spark is an existing SparkSession
df = spark.read.csv("../datasets/flights.csv", header=True)

In [5]:
df.createOrReplaceTempView("flights")

flights10 = spark.sql("FROM flights SELECT * LIMIT 10")

flights10.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

## Convert from Spark DataFrame to Pandas

We can convert a Spark DataFrame to pandas if we need to. Usually, this happens when we have a subset of our query which we want to analyze locally.

In [6]:
import pandas as pd

# Don't change this query
query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# Run the query
flight_counts = spark.sql(query)

flight_counts.toPandas()

    origin dest    N
0      SEA  RNO    8
1      SEA  DTW   98
2      SEA  CLE    2
3      SEA  LAX  450
4      PDX  SEA  144
5      SEA  BLI    5
6      PDX  IAH   57
7      PDX  PHX  209
8      SEA  SLC  225
9      SEA  SBA   23
10     SEA  BWI   29
11     PDX  IAD   23
12     PDX  SFO  305
13     SEA  KOA   40
14     PDX  MCI   15
15     SEA  SJC  213
16     SEA  ABQ   43
17     SEA  SAT   18
18     PDX  ONT   57
19     SEA  LAS  364
20     SEA  GEG  105
21     SEA  ANC  380
22     PDX  DEN  235
23     PDX  JFK   46
24     PDX  ATL  110
25     PDX  MDW   28
26     PDX  LMT   10
27     SEA  HDN    4
28     SEA  PHL   72
29     PDX  PHL    9
..     ...  ...  ...
83     SEA  MKE   16
84     PDX  AUS    4
85     SEA  JNU   77
86     SEA  AUS   27
87     PDX  SLC  171
88     PDX  ORD  157
89     PDX  PSP   14
90     PDX  RDM   54
91     SEA  CVG    5
92     SEA  DFW  245
93     SEA  ONT   71
94     SEA  KTN   77
95     SEA  SIT    6
96     SEA  SNA  147
97     SEA  BUR   66
98     SEA  EWR  122
99     PDX  TUS   24
100    PDX  EUG   41
101    SEA  IAD   69
102    SEA  STL   21
103    SEA  BNA    9
104    PDX  BOI    7
105    SEA  OAK  213
106    PDX  SNA   51
107    SEA  MIA   19
108    SEA  JFK  127
109    SEA  FAI   72
110    PDX  HOU    6
111    PDX  BUR   71
112    SEA  MCO   31

[113 rows x 3 columns]

## Convert from pandas to Spark

We can also convert a pandas dataframe into a Spark DataFrame. There are a few things regarding this:
- The output is stored locally meaning we can't access data from other contexts
    1. For example, a `.sql()` query will throw an error
- This can be avoided by saving the dataframe as a `temporary table`
- It will still only be accessible from the specific `SparkSession`

In [7]:
import numpy as np

pd_temp = pd.DataFrame(np.random.random(10))

In [8]:
spark_temp = spark.createDataFrame(pd_temp)

In [9]:
# notice how the temporary dataframe is not listed
spark.catalog.listTables()

[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [10]:
# add the temporary table to our session
spark_temp.createOrReplaceTempView("temp")

In [11]:
# now the temporary dataframe **is** listed
spark.catalog.listTables()

[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

## Reading straight into Spark

In [12]:
# spark is an existing SparkSession
df = spark.read.csv("../datasets/flights.csv", header=True)

In [14]:
df.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

# Manipulating Data