# Processing, Storing, and Organizing Data

The main question is this course is: *how shall we organize and manage data?*

We need to consider:
- **Schemas**:
    - How should the data bee logically stored?
- **Normalization**:
    - Should data have minimal transparency and redundancy?
- **Views**:
    - What joins will be done most often?
- **Access control**:
    - Should all users of the data have the same level of access?
- **DBMS**:
    - How to pick between SQL and NoSQL options?
    
It depends on the intended use of the data: there are trade-offs of speed, memory and cost.

## OLTP and OLAP

These are approaches to processing data. 

OLTP:
- Online Transaction Processing
- Support daily transactions
- Application-oriented
- Up-to-date, operational
- Snapshot, gigabytes
- Simple transactions and frequent updates
- Thousands of users

OLAP
- Online Analytical Processing
- Report and analyze data
- Subject-oriented
- Consolidated, historical data
- Archive data so usually terabytes
- Complex, aggregate queries & limited updates
- Hundreds of users (analysts and data scientists)

OLAP and OLTP systems *need* each other. OLTP is usually stored in an operational database which is pulled and cleaned to create an OLAP data warehouse.

## Pre-implementation

- Step back and figure out business requirements
- Difference between OLAP and OLTP

## Storing data

Three main ways in which to store data:

1. Structured Data
    - Follows a schema
    - Defined data types and relationships
2. Unstructured data
    - Schemaless
    - Most data in the world
3. Semi-structured
    - Does not follow a larger schema
    - Self-describing structure
    
## Storing data beyond traditional databases

Decades ago, traditional databases were enough but increasing requirements created new options.

- Traditional databases
    - For storing real-time relational structured data (OLTP)
- Data warehouses
    - For analyzing archived structured data (OLAP)
- Data lakes
    - For storing data of all structures (flexibility and scalability)
    - For analyzing big data
    
### Data Warehouses

- Optimised for analytics
    - Organised for reading and aggregating data
    - Usually read-only
- Contains data from multiple sources
- Massively Parallel Processing
- Typically uses a denormalized schema and dimensional modeling
- Examples: Amazon Redshift, Azure SQL Data Warehouse, Google Big Query

#### Data mart

- Subset of data warehouses
- Dedicated to a specific topic (HR, supply chain, marketing, sales, etc)

### Data Lakes

Data lakes store unstructured data in a cost-effective way.

- Store all types of data at a lower cost
    - e.g. raw, operational databases, IoT device logs, real-time, relational and non-relational
- Retains all data and can take petabytes
- Schema-or-read as opposed to schema-on-write
- Need to catalog data otherwise becomes a data swap
- Run big data analytics using services like Apache Spark and Hadoop
    - Useful for deep learning and data discovery because activities require so much data
- Examples: Google Cloud Storrage, Amazon S3

## Where to store data

When we think of *where* to store data, we need to consider *how* data gets there and in what form. There are two main options:
- ETL
    - Extract Transform Load
    - More traditional approach for warehousing and small scale analytics
    - Data is transformed before being loaded into storage, usually to follow the warehouse's schema
- ELT
    - Big Data projects
    - Data is stored in its native form in a data lake
    - The portions of data are transformed for different purposes, from building a data warehouse to doing deep learning

## Database Design

Database design determines how data is logically stored
    - How is data going to be updated and read?

There are two main concepts to understand when it comes to database design: database modeling and database schemas

### Database Models

These are the high-level specifications for the database structure.

- Most popular is the relational model
    - Alternatives are NoSQL models, objecet-oriented, network

### Database schemas

These are the blueprint of the database.

- They are the implementation of the database model
    - Defines tables, field, relationships, indexes, and views
    - When inserting data in relational databases, schemas must be respected

### Data Modeling

There are 3 levels to a data model:

1. Conceptual data model
    - Describes entities, relationships and attributes
    - Tools: data structure diagrams, entity-relational diagrams and UML diagrams
2. Logical data model
    - Tools: database models and schemas, relational model and star schema
3. Physical data model
    - Tools: partitions, CPUs, indexes, backup systems and tablespaces
    
These ensure consistency and provide a plan for implementation and use.

### Dimensional Modeling

Fact tables:
- Decided by business use-case
- Hold records of a metric
- Changes regularly
- Connects to dimensions via foreign keys

Dimension tables
- Holds descriptions of attributes
- Does not change as often

# Database Schemas and Normalization

The star schema is the simplest form of the dimensional model
> Start schema is made up of two tables: fact and dimension tables

## Recall on star schema

Fact tables:
- Hold records of a metric
- Change regularly
- Connect to dimensions via foreign keys

Dimension tables:
- Hold description of values
- Do not change as often

## Snowflake schema

Snowflake schema is an extension of the star schema: while the star schema extends one dimension, the snowflake schema extends more than one dimension. That's because the dimension tables are *normalized*.

## Normalization

Normalization is technique to divide tables into smaller tables and reduce redundancy and increase data integrity.

The basic idea is to find repeating groups of data and create new tables for them.

### Foreign keys

Foreign key references are essential to both the snowflake and star schema. When creating either of these schemas, correctly setting up the foreign keys is vital because they connect dimensions to the fact table. They also enforce a one-to-many relationship, because unless otherwise specified, a foreign key can appear more than once in a table and primary key can appear only once.

## Normalized and denormalized datasets

- Normalization saves space
    - Even though there are more tables, there is less redundancy
- Normalization ensure better data integrity
    1. Enforces data consistency
        - Must respect naming conventions because of referential integrity
    2. Safer updating, removing and inserting
        - Less data redundancy = less records to alter
    3. Easier to redesign by extending
        - Smaller tables are easier to extend than larger tables

## Pros and cons of normalization

Advantages:
- Normalization eliminates data redundancy: save on storage
- Better data integrity: accurate and consistent data

Disadvantages:
- Complex queries require more CPU

Deciding on the normalization vs denormalization comes down to how intensive the reads/writes on the database are going to be.

## OLTP and OLAP

OLTP is highly normalized:
- Write intensive
- Prioritize quicker and safer insertion of data

OLAP:
- Read intensive
- Prioritize quicker queries for analytics

## Normal Forms

The goals of normalization are to:
- Be able to characterize the level of redundancy in a relational schema
- Provide mechanisms for transforming schemas in order to remove redundancy

There are different levels of normal forms:
- First normal form (1NF)
- Second normal form (2NF)
- Third normal form (3NF)
- Elementary key normal form (EKNF)
- Boyce-Codd normal form (BCNF)
- Fourth normal form (4NF)
- Essential tuple normal form (ETNF)
- Fifth normal form (5NF)
- Domain-key normal form (DKNF)
- Sixth normal form (6NF)

### 1NF

- Each record must be unique - no duplicate rows
- Each cell must hold one values (no tuples, commas, etc)

### 2NF

- Must satisfy 1NF
- If primary key is one column then it automatically satisfies 2NF
- If there is a composite primary key then each non-key column must be dependent on all the keys

### 3NF

- Satisfies 2NF
- No transitive dependencies: non-key columns can't depend on other non-key columns

## Data anomalies

There are 3 main errors which come from not normalizing enough:
1. Update
    - data inconsistency which can arise when updating a table with redundancy
    - user updating needs to know about redundancy
2. Insertion
    - unable to add a record due to missing attributes
3. Deletion
    - when we delete a record and unintentionally delete other data

# Database Views

A view is a result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object.

In simpler terms, think of it as an Alfred snippet for a query. We can save a query as a view which has many advantages:
- Simplifies the query a lot (for example by not having to type so many `JOIN`s)
- Gives us finer control over who can access what in a database
- Does not take up memory (only the space to store the query itself)

## Creating a view

In [ ]:
CREATE VIEW scifi_books AS
-- Annoying query we don't want to type all the time
SELECT title, author, genre
FROM dim_book_sf
JOIN dim_genre_df ON dim_genre_sf.genre_id = dim_book_sf.genre_id
JOIN dim_author_sf ON dim_author_sf.author_id = dim_book_sf.author_id
WHERE dim_genre_sf.genr = "science fiction"

## Query a view

In [ ]:
SELECT * FROM scifi_books

### Behind the scenes

In [ ]:
SELECT * FROM
(SELECT title, author, genre
FROM dim_book_sf
JOIN dim_genre_df ON dim_genre_sf.genre_id = dim_book_sf.genre_id
JOIN dim_author_sf ON dim_author_sf.author_id = dim_book_sf.author_id
WHERE dim_genre_sf.genr = "science fiction");

## Viewing views in PostgreSQL

In [ ]:
-- See all the views we have
SELECT * FROM INFORMATION_SCHEMA.views

In [ ]:
-- See all the views we have except system views
SELECT * FROM INFORMATION_SCHEMA.views
WHERE table_schema NOT IN ('pg_catalog', 'information_schema');

## Grant and revoke access to a view

In [ ]:
GRANT priviledge(s) or REVOKE priviledge(s)
ON object
TO role or FROM role

- Priviledges: `SELECT`, `INSERT`, `UPDATE`, `DELETE`, etc
- Objects: table, view, schema, etc
- Roles: a database user or a group of database users

An example

-- notice that we "grant to" and "revoke from"
GRANT UPDATE ON ratings TO PUBLIC;

In [ ]:
REVOKE INSERT ON films FROM db_user;

## Updating a view

In [ ]:
UPDATE films SET kind = "Dramatic" WHERE kind = "Drama";

Updating views is a bad idea because what is updated is the underlying table, not the view (naturally, since the view does not exist in memory)

**Not all views are updatable**:
- Views must be made up of one table;
- Must not use window or aggregate functions

The same applies for `INSERT`in into views

> Do not modify data through views

## Dropping a view

In [ ]:
DROP VIEW view_name [CASCADE | RESTRICT]

- `CASCADE`:
    - drops view and any objects that depend on the view
- `RESTRICT` (default):
    - returns an error if there are objects that depend on the view

## Redefining a view

In [ ]:
CREATE OR REPLACE VIEW view_name AS new_query

- If a view with `view_name` already exists, it is replaced
- `new_query` must generate the same column names, order, and data types as the old query
- The column output may be different
- New columns may be added at the end

## Materialised Views

There are two types of views:
1. Views
    - aka non-materialised views
    - how we've defined views so far
2. Materialised views
    - physically materialised
    - stores the *query results* not the the query
        - queries just access the stored query results
    - refreshed or rematerialised when prompted

## When to use materialised views?

- Long running queries
- Underlying query results don't change often
- Data warehouses because OLAP is not write-intensive
    - Save on computational cost of frequent queries

## Implementing Materialised Views

In [ ]:
CREATE MATERIALIZED VIEW my_view AS SELECT * FROM existing_table;

In [ ]:
REFRESH MATERIALIZED VIEW my_view;

## Managing dependencies

- Materialised views often depend on other materialised views
- Creates a dependency chain when refreshing views
- Not the most efficient to refresh all views at the same time

# Database Management

## Database Roles

- Manage database access permissions
- A database role is an entity that contains information that:
    - Defines the role's priviledges
        - Can you login?
        - Can you create databases?
        - Can you write to tables?
    Interact with the client authentication system
        - Password
- Roles can be assigned to one or more users
- Roles are global across a database cluster installation

In [ ]:
-- empty role
CREATE ROLE data_analyst;

Example: creating a role for an intern

In [ ]:
CREATE ROLE intern WITH PASSWORD 'PasswordForIntern' VALID UNTIL '2020-01-01'

Example: creating admin role with the ability to create databases

In [ ]:
CREATE ROLE admin CREATEDB;

In [ ]:
- granting right to admin to create new roles
ALTER ROLE admin CREATEROLE;

## `GRANT` and `REVOKE` priviledges from roles

In [ ]:
GRANT UPDATE ON ratings TO data_analyst;

In [ ]:
REVOKE UPDATE ON ratings FROM data_analyst;

List of priviledges:
- `SELECT`
- `INSERT`
- `UPDATE`
- `DELETE`
- `TRUNCATE`
- `REFERENCES`
- `TRIGGER`
- `CREATE`
- `CONNECT`
- `TEMPORARY`
- `EXECUTE`
- `USAGE`

## Users and groups are *both* roles

A role is an entity that can function as a user and/or a group:
- User roles
- Group roles

Note:

- A role can be a user role or a group role
- A role may be a member of other roles
    - We can the larger role a *group*

### Group role

CREATE ROLE data_analyst

### User role

In [ ]:
-- alex joins the company
CREATE ROLE alex WITH PASSWORD 'PasswordForIntern' VALID UNTIL '2020-01-01'

In [ ]:
-- he can now do data analyst work
GRANT data_analyst TO alex;

In [ ]:
-- now he cant anymore
REVOKE data_analyst FROM alex;

## Examples

In [ ]:
-- Create an admin role
CREATE ROLE admin WITH CREATEDB CREATEROLE

In [ ]:
-- Grant data_scientist update and insert privileges
GRANT UPDATE, INSERT ON long_reviews TO data_scientist;

-- Give Marta's role a password
ALTER ROLE marta WITH PASSWORD 's3cur3p@ssw0rd';

In [ ]:
-- Add Marta to the data scientist group
GRANT data_scientist TO marta;

-- Celebrate! You hired data scientists.

-- Remove Marta from the data scientist group
REVOKE data_scientist FROM marta;

## Table partitioning

### Why partition data?

When tables grow, tables tend to become very slow. As a certain point, it can make sense to split data into smaller parts.

> Partitioning fits into the *physical data model*

###  Types of partitioning

There are 2 types of partioning
1. Vertical
    - Split the table vertically through columns (even when it's fully normalized!)
    - Example: breaking the `long_description` of the Pitchfork reviews into a separate column (it eats of CPU time and isn't retrieved very often)
2. Horizontal
    - Splitting tables up over their rows
    - Example: separating 2019 and 2018; partitioning by quarter

In [ ]:
CREATE TABLE sales (
    -- creating a bunch of columns
    timestamp DATE NOT NULL
)
PARTITION BY RANGE (timestamp)

CREATE TABLE sales_2019_q1 PARTITION OF sales
    FOR VALUES FROM ('2019-01-01') TO ('2019-03-31');
    
CREATE TABLE sales_2019_q4 PARTITION OF sales
    FOR VALUES FROM ('2019-09-01') TO ('2019-12-31');    
CREATE INDEX ON sales ('timestamp');

## Pros and cons of horizontal partitioning

Pros:
- Indices of heavily-used partitions fit in memory
- Move to specific medium: slower vs. faster
- Used for both OLAP and OLTP

Cons:
- Partitioning existing table can be a hassle
    - Create a new table, copy over the data
- Some constraints cannot be set
    - We cannot set a PRIMARY KEY constraint

## Sharding

We can take partioning one step further and split the partition over several machines: this is called *sharding* (this is used in MPPs)

## Vertical partitioning

For vertical partitioning, there is no specific syntax in PostgreSQL. You have to create a new table with particular columns and copy the data there. Afterward, you can drop the columns you want in the separate partition. If you need to access the full table, you can do so by using a JOIN clause.

In [ ]:
-- Create a new table called film_descriptions
CREATE TABLE film_descriptions (
    film_id INT,
    long_description TEXT
);

-- Copy the descriptions from the film table
INSERT INTO film_descriptions
SELECT film_id, long_description FROM film;
    
-- Drop the descriptions from the original table
ALTER TABLE film DROP long_description;

-- Join to view the original table
SELECT * FROM film
JOIN film_descriptions ON film.film_id = film_descriptions.film_id;

## Horizontal partitioning

In [ ]:
-- Create a new table called film_partitioned
CREATE TABLE film_partitioned (
  film_id INT,
  title TEXT NOT NULL,
  release_year TEXT
)
PARTITION BY LIST (release_year);

-- Create the partitions for 2019, 2018, and 2017
CREATE TABLE film_2019
	PARTITION OF film_partitioned FOR VALUES IN ('2019');
    
CREATE TABLE film_2018
	PARTITION OF film_partitioned FOR VALUES IN ('2018');
    
CREATE TABLE film_2017
	PARTITION OF film_partitioned FOR VALUES IN ('2017');
    
-- Insert the data into film_partitioned
INSERT INTO film_partitioned
SELECT film_id, title, release_year FROM film;

-- View film_partitioned
SELECT * FROM film_partitioned;

## Data Integration

Data Integration deals with the problem of combining data from several different sources and formats.

Typical use cases are:
- 360-degree customer view
- Acquisitions (merging datasets from different companies)
- Legacy systems

## Transformations

Transformations allow us to move data from different stores into something which can be fed into the unified data model. They are scheduled using an ETL tool (like Airflow), and should be tested.

## Picking a DBMS

A DBMS is a Database Management System

It creates and maintains databases and manages 3 important aspects:
- Data
- Database schema
- Database engine

## Types of DBMS

There are two types of DBMS:
1. SQL DBMS
    - Relational Database Management System
    - Based on relational model of data
    - Query language: SQL
    - **Best option when**:
        - Data is structured and unchanging
        - Data must be consistent
    - Examples: SQL Server, PostgreSQL, Oracle
2. NoSQL DBMS
    - Less structured
    - Document-centered rarther than table-centered
    - Data doesn't have to fit into well-defined rows and columns
    - **Best option when**:
        - Rapid growth
        - No clear schema definitions
        - Large quantities of data
    - Types: key-value store, document store, columnar database, graph database

## NoSQL DBMS

There are 4 main types:

1. Key-value store
    - Combinations of keys and values
        - Key is the unique identified
        - Value can be anything
    - Use case: shopping cart from an online buyer
    - Example: Redis
2. Document store
    - Similar to key-value
    - Values (i.e. documents) are structured
    - Use case: content management
    - Example: MongoDB
3. Columnar database
    - Stored data in columns
    - Scalable
    - Use case: big data analytics where speed is important
    - Example: Apache Cassandra
4. Graph database
    - Data is interconnected and best represented as a graph
    - Use case: social media data, recommendations
    - Example: neo4j